{% extends 'base.html.twig' %}

{% block title %}Hello CollectLinkedinController!{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}



    <h1>job list</h1>

    <!-- searching -->

    <div class="container border">
        <div class="row text-center font-weight-bolder">
            <div class="col-sm-4 border">
                title
            </div>
            <div class="col-sm-2 border">
                company
            </div>
            <div class="col-sm-2 border">
                location
            </div>
            <div class="col-sm-2 border">
                publishedAt
            </div>
            <div class="col-sm-2 border">
                state
            </div>
            <div class="w-100"></div>
            <div class="col border">
                description
            </div>
        </div>
        {% for job in jobs %}
        <div class="row text-center  align-middle">
            <div class="col-sm-4 border">
                <a href="{{ job.link }}" target="_blank">{{ job.title }}</a>
            </div>
            <div class="col border">
                {{ job.company }}
            </div>
            <div class="col border">
                {{ job.location }}
            </div>
            <div class="col border">
                {{ job.publishedAt|ago }}
            </div>
            <div class="col border">
                <select class="custom-select-sm inputGroupSelect01" >
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="w-100"></div>
            <div class="col border text-left">
                {{ job.description }}
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}